#quiz {
    width: 550px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    padding: 50px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 2px;
    width: 300px;
    margin-left: 120px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    background-color: rgb(214, 214, 214);
    vertical-align: middle;
}

input[type="radio"]+span {
    font-size: 25px;
    margin-right: 15px;
    font-family: 'Indie Flower', cursive;
    vertical-align: middle;
}

button:hover {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 4px 6px gray;
    transition-duration: 1s;
}

#left {
    font-size: 45px;
}

#message {
    font-size: 25px;
    font-weight: 700;
}

#question {
    font-size: 25px;
}

.fas {
    margin-left: 5px;
    font-size: 15px;
}